seqfile = fly25_.phy
treefile = fly25_.tree
outfile = fly25_.paml

noisy = 9
verbose = 0
runmode = 0 * user defined tree

seqtype = 1 * codons
CodonFreq = 0 * equal

model = 0 * one omega for all branches

NSsites = 0 * one omega ratio

icode = 0 

fix_kappa = 0
kappa = 2

fix_omega = 0
omega = 0.1
